POSTGRES_PASSWORD=altere-esta-senha
JWT_SECRET=altere-esta-chave
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480

AWS_ACCESS_KEY_ID=altere-esta-chave
AWS_SECRET_ACCESS_KEY=altere-esta-chave-secreta
AWS_REGION=sa-east-1
S3_BUCKET_NAME=ntu-chamados-anexos-prod